/* Fix the sizes of the Publication / Thought Leadership banners */
.article-banner {
    max-height:404px !important;
    height:unset;
}
@media (min-width: 992px) {
    .article-banner {
        max-height:404px !important;
        height:unset;
    }
}
.article-banner img {
    object-fit: contain;
}
.img-hover-zoom img {
    transition: none;
    object-fit: contain;
}
.img-hover-zoom:hover img {
    transform: none;
}
/* Fix vertical centering of company logos next to each experience job title */
#experience > div.container div.d-flex.align-content-start > div.mr-2.mb-2 {
    display: flex !important;
    align-items: center !important;
}
/* Fix vertical centering of company logos next to each certification title */
#certifications > div.container div.d-flex.align-content-start > div.mr-2.mb-2 {
    display: flex !important;
    align-items: center !important;
}